<!DOCTYPE HTML>
<!--  DAY 83 REPLIT --->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css">
  <link href="static/css/buttons.css" rel="stylesheet" type="text/css">
  <link href="static/css/form.css" rel="stylesheet" type="text/css">
  <!-- <link href="static/css/grid.css" rel="stylesheet" type="text/css"> -->

</head>

<body>
  <nav class="navbar" style="background: linear-gradient(to right top, #0b171e, #0b0614)">
    <div class="app-header">
      <a href="/">
        <img src="static/images/favicon.png" class="logo" alt="Logo">
      </a>
      <span class="title">
        Error: No Data 
      </span> ❌
    </div> 
  </nav>
  <nav class="back">
    <p>🔗
      <a href = "/">Back</a> 
      🔗
    </p>
  </nav> 
</body>

</html>
