<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link href="../static/css/style.css" rel="stylesheet" type="text/css">
  <link href="../static/css/buttons.css" rel="stylesheet" type="text/css">
  <link href="../static/css/form.css" rel="stylesheet" type="text/css">
  <!-- <link href="static/css/links.css" rel="stylesheet" type="text/css">  -->
  <!-- <link href="static/css/grid.css" rel="stylesheet" type="text/css"> -->
   <link href="../static/css/toggle.css" rel="stylesheet" type="text/css">
  <link href="../static/css/banner.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div class="container-{theme}">
  <nav class="nav-bar" style="background: linear-gradient(to right top, #0b171e, #0b0614)">
    <div class="app-header">
      <a href="/">
        <img src="static/images/favicon.png" class="logo" alt="Logo">
      </a> 
      <span class="title">Welcome Back</span> 
      <!-- <form method="POST" action="/">
        <input type="hidden" name="theme" value="space">
        <label class="switch">
         <input type="checkbox" id="toggle">
            <span class="slider round"></span>
        </label> 
      </form> --> 
    </div>
  </nav>
  <p><br>
    <span class=gradient_text-{theme}>
    "Welcome to my Captain's blog. Please enter `/blog?page=pagenumber` into the url to read a specific day's reflection."
    </span>
  </br></p>
  </div>

</body>

</html>
