<!DOCTYPE HTMLl>
<!--  DAY 83 REPLIT -->
<html lang="en", data-theme="space">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>page</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css">
  <link href="static/css/buttons.css" rel="stylesheet" type="text/css">
  <link href="static/css/form.css" rel="stylesheet" type="text/css">
  <link href="static/css/toggle.css" rel="stylesheet" type="text/css">
  <link href="static/css/banner.css" rel="stylesheet" type="text/css">
  <link href="static/css/links.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-{theme}">
<nav class="navbar" style="background: linear-gradient(to right top, #0b171e, #0b0614)">
    <div class="app-header" style="font-size: 27px">
      <a href="/">
        <img src="{image}" class="logo" alt="Logo">
      </a> 
      <span class="title" style="font-size: 27px">
        {name}'s Blog ({entry})
      </span> 
      🏴‍☠️🪶
                
             
     <!--  <form method="POST" action="/process">
        <input type="hidden" name="theme" value="space">
        <label class="switch">
         <input type="checkbox" id="toggle">
            <span class="slider round"></span>
        </label> 
      </form> -->
     


      
    </div>
</nav>

  <p class="date-text"><br>🗓️ 
    <span class="gradient_text1">
      {date}
    </span>
  </br></p>

  <img src="static/images/divider.png", class="resize-image"> </img>

  <p>📜🔹 
    <span class="gradient_text-{theme}">
      {text}
    </span>
    🔹📜
  </p>

  <img src="static/images/divider.png", class="resize-image"> </img>

  <nav class="back">
    <p>🏡
      <a href = "/">Index</a> 
      🏡
    </p>
  </nav> 
</div>

</body>

</html>
